@tailwind base;
@tailwind components;
@tailwind utilities;

.card:hover {
    box-shadow: 0 0 10px #000;
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}

.loader {
    position: absolute;
    top: 47%;
    left: 49%;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 6px solid #0000;
    border-right-color: rgba(34, 38, 46, 0.592);
    animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    inset: -6px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
}
.loader:after {
    animation-duration: 4s;
}
@keyframes l24 {
    100% {
        transform: rotate(1turn);
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .faded-bottom {
        @apply after:pointer-events-none after:absolute after:bottom-0 after:left-0 after:hidden after:h-32 after:w-full after:bg-[linear-gradient(180deg,_transparent_10%,_hsl(var(--background))_70%)] after:md:block;
    }
}
